.adivace
    .container
        .row 
            .col-4 
                .title 
                    span.span
                        |О нас
                .text4
                    | ITS-Partner — это компания IT-услуг.<br> Мы обслуживаем компьютеры и <br>компьютерные сети, внедряем и настраиваем <br>ПО и ремонтируем оргтехнику.<br> К нам обращаются, чтобы решить вопрос с IT<br>и не переплачивать штатным сотрудникам.
            .col-8
                a(href="#").link 
                    img(src="assets/img/about.png", alt="")
            .col-3
                a(href="#").img
                    img(src="assets/img/Group 63.png", alt="")
            .col-9
                .texta 
                    |Гарантией качественной работы компании является опыт и квалификация сотрудников, а также отличное знание<br> всего спектра предлагаемых услуг и продукции и тесные партнерские отношения с рядом фирм, действующих в<br>параллельных секторах рынка.<br><br>Это позволяет максимально эффективно решать весь комплекс задач, возникающих при реализации проектов.<br><br>Деятельность компании направлена в первую очередь на комплексное обслуживание предприятий и организаций<br>различного масштаба, в том числе и крупных бюджетных.