.footer 
    .container
        .row 
            .left 
                .textg 
                    |© 2020. ITS-Partner
            .center 
                a(href="#").img
                    img(src="assets/img/024-facebook 1.png", alt="") 
                a(href="#").img
                    img(src="assets/img/105-VK.png", alt="") 
                a(href="#").img
                    img(src="assets/img/109-whatsapp.png", alt="") 
                a(href="#").img
                    img(src="assets/img/089-telegram.png", alt="") 
                a(href="#").img
                    img(src="assets/img/101-viber.png", alt="") 
            .right 
                .texth 
                    |Разработка сайта WebFact.ru