header.header
    .mcontainer
        .text 
            | ITS-Partner 
        ul.menu
            li: a(href="#").link О нас 
            li: a(href="#").link Услуги
            li: a(href="#").link Выгоды 
            li: a(href="#").link Как проиходить обслуживание
        .btns
            a(href="").link
                img(src="assets/img/024-facebook 1.png", alt="")
            a(href="#").link 
                img(src="assets/img/105-VK.png", alt="")
            a(href="#").link 
                img(src="assets/img/109-whatsapp.png", alt="")
            a(href="#").link 
                img(src="assets/img/089-telegram.png", alt="")
            a(href="#").link 
                img(src="assets/img/101-viber.png", alt="")
