.map 
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d47936.24646314877!2d69.30432!3d41.3302784!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1615376482593!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>