.service 
    .container 
        .bigtitle 
            span.span
                | Услуги
        .row 
            .col-3
                .service-item 
                    a(href="#").img
                        img(src="assets/img/switch.svg", alt="")
                        .text6 
                            | Обслуживание компьютерной<br>техники и техническая<br>поддержка пользователей
                    button.btn 
                        text7 Подробнее
            .col-3 
                .service-item 
                    a(href="#").img
                        img(src="assets/img/switch1.svg", alt="")
                        .text6
                            | Обслуживание Настройка и обслуживание<br>ерверов
                    button.btn 
                        text7 Подробнее
            .col-3 
                .service-item   
                    a(href="#").img
                        img(src="assets/img/switch2.svg", alt="")
                        .text6
                            | Обслуживание Настройка и обслуживание<br>сетей
                    button.btn 
                        text7 Подробнее
            .col-3 
                .service-item 
                    a(href="#").img
                        img(src="assets/img/switch3.svg", alt="")
                        .text6 
                            | Внедрение и сопровождение<br> специализированных систем
                    button.btn 
                        text7 Подробнее