.slider
    .item(style='background-image:url(assets/img/bg1.jpg)')
        .container 
            .caption
                .text1 "ITS-Partner"
                .text2 Надежный партнёр в сфере<br>информационных технологий
            .chiziq