.table 
    .container 
        .htitle 
            span.span
                |Как происходит обслуживание
        .row
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto1.jpg", alt="")
                .texte 
                    |Удаленная поддержка
                .textf 
                    |Для решения проблем подключаемся к компьютеру<br> пользователя или к иному оборудованию через систему<br>удаленного администрирования и решаем проблему. В большинстве случаев этого оказывается достаточно.
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto2.jpg", alt="")
                .texte 
                    |Экстренные выезды
                .textf 
                    |В случае если проблема не решается удаленным<br>подключением, к вам направляется специалист который<br>решает проблему на месте.
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto3.jpg", alt="")
                .texte 
                    |Плановые выезды
                .textf 
                    |Необходимы для решения текущих задач, выполнения<br>работ которые были запланированы и<br>согласованы и проведения профилактических работ.
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto4.jpg", alt="")
                .texte 
                    |Мониторинг
                .textf 
                    |Все оборудование подключается к системе мониторинга<br>, которая позволяет оперативно реагировать на ошибки и<br>позволяет предотвращать сбои.
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto5.jpg", alt="")
                .texte 
                    |Резервное копирование
                .textf 
                    |Определяем наиболее важные ресурсы и настраиваем<br>регулярное резервное копирование. Это не даст потерять<br>данные в случае аварии
            .col-4 
                a(href="#").img
                    img(src="assets/img/foto6.jpg", alt="")
                .texte 
                    |Контроль качества
                .textf 
                    |После решения проблемы, вы можете оценить качество<br>выполненных работ и поставить оценку.
