.wrapper 
    .container
        .ltitle 
            span.span 
                |Выгоды от работы с нами
        .row
            .col-6  
                a(href="#").img
                    img(src="assets/img/Rectangle 4.png", alt="")
                    .wrapper_item
                        .textb 
                            |Экономия средств компании 
                        .textd
                            |Нет необходимости содержать IT штат,<br> экономия на налогах, рабочих местах,<br>обучении сотрудников
            .col-6  
                a(href="#").img
                    img(src="assets/img/Rectangle 2.png", alt="")
                    .wrapper_item
                        .textb 
                            |Снижение расходов 
                        .textd
                            |Привлечение профильных специалистов в<br> информационной сфере позволяет избежать<br> ошибочных действий, ненужных<br>манипуляций и дополнительных затрат. 
            .col-6  
                a(href="#").img
                    img(src="assets/img/Rectangle 3.jpg", alt="")
                    .wrapper_item
                        .textb 
                            |Качество услуг   
                        .textd
                            |Заказывая услуги в нашей компании вы<br> получаете доступ к целому коллективу<br> квалифицированных специалистов
            .col-6  
                a(href="#").img
                    img(src="assets/img/Rectangle 4.jpg", alt="")
                    .wrapper_item
                        .textb 
                            |Гибкость 
                        .textd
                            |Быстрое расширение ИТ-услуг и<br>сервисов, нет необходимости в найме<br>новых сотрудников